/*~
**.o
**.cm[ioax]
**.cmxa
**.exe
**.a
/[123456789]$
[123456789]$
_build/*
/logs/
logs/
indent/
arith/.*~
baga/.*/logs/*
/\.mona_temp*
/*hip
/*sleek
xml/xml_parser.ml
xml/xml_parser.mli
xml/xml_lexer.ml
/fixcalc.*.inf$
fixcalc.*.inf$
/fixcalc.td$
fixcalc.td$
/fixcalc.*.inp$
fixcalc.*.inp$
/tmp/
/*.log$
/*.mli$
/bench/
**.out
/old/
/*.orig$
/*.output$
/a.omega$
a.omega$
smt2slk_src/compile$
smt2slk_src/smtlib_lex.ml$
smt2slk_src/smtlib_parse.ml$
decidez.glob$
/*.native$
cil/obj/
cil/autom4te.cache/*
cil/bin/.*.bat$
cil/doc/header.html$
cil/doc/index.html$
cil/bin/CilConfig.pm$
/mona.failure
mona-1.4/
omega_modified/*/obj/*
