/*
 Style sheet obtained from http://www.ridgway.co.za/archive/2005/10/30/asimplecssbasedtreeview.aspx
 Modified by An Hoa
 */

h1 {
	color : green;
}

.progsource {
	border-style : double;
	font-family : Arial;
}

.progsource td {
	padding-right : 20px;
}

tr.OddSourceLine {
	background: white !important;
}

tr.EvenSourceLine {
	background: #F0F0F0 !important;
}

.proc {
	border-style : double;
	font-family : Arial;
}

.procdef {
	color:blue;
	font-size : 0.75em;
	font-weight : normal;
	font-family : monospace;
}

.pre {
	background : aliceblue;
	font-weight : normal;
	font-family : Arial;
}

.post {
	background : burlywood;
	font-weight : normal;
	font-family : Arial;
}

.term {
	font-weight : normal;
	font-family : Arial;
	border-style : double;
}

.proverinput {
	color : black;
	font-size : 0.75em;
	background : goldenrod;
	font-weight : normal;
	font-family : monospace;
	border-style : double;
}

.proveroutput {
	color : darkmagenta;
	font-size : 0.75em;
	background : greenyellow;
	font-weight : normal;
	font-family : monospace;
	border-style : double;
}

.pureimplyvalid {
	color : green;
	font-weight : normal;
	border-style : dashed;
}

.pureimplyinvalid {
	color : red;
	font-weight : normal;
	border-style : dashed;
}

.TreeView 
{
    font: Verdana;
    line-height: 20px;
	cursor: pointer; 
	font-style: normal;
}

.TreeView li
{
	padding: 0 0 0 20px;
    float : left;
    width : 95%;
    list-style: none;
}

.TreeView, .TreeView ul
{
    margin: 0;
    padding: 0;
}

li.Expanded 
{
    background: url(minus.gif) no-repeat left top;
}

li.Expanded ul
{
	display: block;
}

li.Collapsed 
{
	background: url(plus.gif) no-repeat left top;
}

li.Collapsed ul
{
    display: none;

}
